In [46]:
import got3
import pandas as pd
from  TextCleaner2000.TextCleaner import TextCleaner

In [5]:
boaCriteria = got3.manager.TweetCriteria()
boaCriteria.setQuerySearch("bank of america")
boaCriteria.setSince("2018-01-03")
boaCriteria.setUntil("2018-06-30")
boaCriteria.setMaxTweets(1500)

In [6]:
boa_tweets = got3.manager.TweetManager.getTweets(boaCriteria)

In [8]:
boa_tweet_list = [boa_tweets[x].text for x in range(len(boa_tweets))]

In [9]:
boa_tweet_list[0:10]

['Walmart $ WMT Given a $98.00 Price Target at Bank of America http://theenterpriseleader.com/?p=795105',
 'You think you’ve seen it all. And then you see a man at Bank of America with a live parrot on his shoulder, berating a clerk because he “won’t give me my f*cking money.” And you realize there is so much more still left to see.',
 'So just saw message now. He said he didn’t hear from me so chopped it up in a million pieces. But he works for Bank of America . Now I got to go to bank tomorrow morning',
 "what's Bank of America",
 'My favourite bofa jokes is when you detail a conversation about bank of America',
 'Is the digital age about *YOU* or the *BUSINESS* --- sorry, it is still the business first. @ BankofAmerica will not let me opt-out of their spam, trying to entice me to fall in love with Erica. minus points for anger!',
 'Industrial Logistics Properties Trust $ ILPT Rating Reiterated by Bank of America http://tickerreport.com/?p=3605628',
 'Ollie’s Bargain Outlet $ OLLI Downgraded by Bank of America to “Underperform” http://baseballnewssource.com/?p=2285385',
 'Thank you, Bank of America, for your generosity in supporting Western Nevada College @ WNCnevada . Your donation will benefit Jump Start College students who are working on their associates degrees while still in high school!',
 'CenterPoint Energy $ CNP Upgraded by Bank of America to Neutral http://zolmax.com/?p=2351890']

In [10]:
boa_tweets_df = pd.DataFrame(boa_tweet_list)

In [12]:
boa_tweets_df.columns = ['Tweets']

In [13]:
boa_tweets_df.head()

                                              Tweets
0  Walmart $ WMT Given a $98.00 Price Target at B...
1  You think you’ve seen it all. And then you see...
2  So just saw message now. He said he didn’t hea...
3                             what's Bank of America
4  My favourite bofa jokes is when you detail a c...

In [15]:
chaseCriteria = got3.manager.TweetCriteria()
chaseCriteria.setQuerySearch("chase bank")
chaseCriteria.setSince("2018-01-03")
chaseCriteria.setUntil("2018-06-30")
chaseCriteria.setMaxTweets(1500)

In [16]:
chase_tweets = got3.manager.TweetManager.getTweets(chaseCriteria)

In [17]:
chase_tweet_list = [chase_tweets[x].text for x in range(len(chase_tweets))]

In [18]:
chase_tweet_df = pd.DataFrame(chase_tweet_list)

In [19]:
chase_tweet_df.columns = ['Tweets']

In [20]:
wellsCriteria = got3.manager.TweetCriteria()
wellsCriteria.setQuerySearch("wells fargo bank")
wellsCriteria.setSince("2018-01-03")
wellsCriteria.setUntil("2018-06-30")
wellsCriteria.setMaxTweets(1500)

In [24]:
wells_tweets = got3.manager.TweetManager.getTweets(wellsCriteria)

In [25]:
wells_tweet_list = [wells_tweets[x].text for x in range(len(wells_tweets))]

In [26]:
wells_tweet_df = pd.DataFrame(wells_tweet_list)

In [27]:
wells_tweet_df.columns = ['Tweets']

In [32]:
boa_tweets_df.count()

Tweets    1500
dtype: int64

In [47]:
cleaner = TextCleaner("TextCleaner2000")

In [38]:
#Remove non-alpha characters and lower-case
wells_tweet_df["Alpha-Lower-Tweet"] = cleaner.alpha_iterator(wells_tweet_df["Tweets"])
boa_tweets_df["Alpha-Lower-Tweet"] = cleaner.alpha_iterator(boa_tweets_df["Tweets"])
chase_tweet_df["Alpha-Lower-Tweet"] = cleaner.alpha_iterator(chase_tweet_df["Tweets"])

In [37]:
wells_tweet_df.head()

,Tweets,Alpha-Lower-Tweet
0,@ WellsFargo referred to elderly black people ...,wellsfargo referred to elderly black people a...
1,You all are illegal/unconstitutional SAYS a Fe...,you all are illegal unconstitutional says a fe...
2,Analytic Consultant 2 - Community Bank Risk Su...,analytic consultant community bank risk supe...
3,@ WellsFargo so if a landlord opens a business...,wellsfargo so if a landlord opens a business ...
4,Of the banks that passed the U.S.-based stress...,of the banks that passed the u s based stress ...

In [48]:
#Remove common stop words
wells_tweet_df["Clean-Tweets"] = cleaner.stop_word_iterator(wells_tweet_df["Alpha-Lower-Tweet"])
boa_tweets_df["Clean-Tweets"] = cleaner.stop_word_iterator(boa_tweets_df["Alpha-Lower-Tweet"])
chase_tweet_df["Clean-Tweets"] = cleaner.stop_word_iterator(chase_tweet_df["Alpha-Lower-Tweet"])

In [49]:
wells_tweet_df.head()

,Tweets,Alpha-Lower-Tweet,Clean-Tweets
0,@ WellsFargo referred to elderly black people ...,wellsfargo referred to elderly black people a...,"wellsfargo referred elderly black people ""mud..."
1,You all are illegal/unconstitutional SAYS a Fe...,you all are illegal unconstitutional says a fe...,illegal unconstitutional says federal court p...
2,Analytic Consultant 2 - Community Bank Risk Su...,analytic consultant community bank risk supe...,analytic consultant community bank risk supe...
3,@ WellsFargo so if a landlord opens a business...,wellsfargo so if a landlord opens a business ...,wellsfargo landlord opens business acct gives...
4,Of the banks that passed the U.S.-based stress...,of the banks that passed the u s based stress ...,banks passed based stress tests wells fargo b...

In [55]:
wells_tweet_df["Bank Name"] = "Wells Fargo Bank"

In [56]:
wells_tweet_df.head()

,Tweets,Alpha-Lower-Tweet,Clean-Tweets,Bank Name
0,@ WellsFargo referred to elderly black people ...,wellsfargo referred to elderly black people a...,"wellsfargo referred elderly black people ""mud...",Wells Fargo Bank
1,You all are illegal/unconstitutional SAYS a Fe...,you all are illegal unconstitutional says a fe...,illegal unconstitutional says federal court p...,Wells Fargo Bank
2,Analytic Consultant 2 - Community Bank Risk Su...,analytic consultant community bank risk supe...,analytic consultant community bank risk supe...,Wells Fargo Bank
3,@ WellsFargo so if a landlord opens a business...,wellsfargo so if a landlord opens a business ...,wellsfargo landlord opens business acct gives...,Wells Fargo Bank
4,Of the banks that passed the U.S.-based stress...,of the banks that passed the u s based stress ...,banks passed based stress tests wells fargo b...,Wells Fargo Bank

In [57]:
boa_tweets_df["Bank Name"] = "Bank of America"

In [58]:
chase_tweet_df["Bank Name"] = "Chase Bank"

In [75]:
bank_tweets = pd.DataFrame()

In [76]:
bank_tweets = bank_tweets.append(boa_tweets_df)

In [77]:
bank_tweets.head()

,Tweets,Alpha-Lower-Tweet,Clean-Tweets,Bank Name
0,Walmart $ WMT Given a $98.00 Price Target at B...,walmart wmt given a price target at bank of ...,walmart wmt given price target bank america ...,Bank of America
1,You think you’ve seen it all. And then you see...,you think you’ve seen it all and then you see ...,think you’ve seen man bank america live parro...,Bank of America
2,So just saw message now. He said he didn’t hea...,so just saw message now he said he didn’t hear...,just saw message said didn’t hear chopped mil...,Bank of America
3,what's Bank of America,what s bank of america,bank america,Bank of America
4,My favourite bofa jokes is when you detail a c...,my favourite bofa jokes is when you detail a c...,favourite bofa jokes conversation bank america,Bank of America

In [78]:
bank_tweets = bank_tweets.append(chase_tweet_df)

In [79]:
bank_tweets = bank_tweets.append(wells_tweet_df)

In [80]:
bank_tweets.head()

,Tweets,Alpha-Lower-Tweet,Clean-Tweets,Bank Name
0,Walmart $ WMT Given a $98.00 Price Target at B...,walmart wmt given a price target at bank of ...,walmart wmt given price target bank america ...,Bank of America
1,You think you’ve seen it all. And then you see...,you think you’ve seen it all and then you see ...,think you’ve seen man bank america live parro...,Bank of America
2,So just saw message now. He said he didn’t hea...,so just saw message now he said he didn’t hear...,just saw message said didn’t hear chopped mil...,Bank of America
3,what's Bank of America,what s bank of america,bank america,Bank of America
4,My favourite bofa jokes is when you detail a c...,my favourite bofa jokes is when you detail a c...,favourite bofa jokes conversation bank america,Bank of America

In [83]:
bank_tweets["Bank Name"].unique()

array(['Bank of America', 'Chase Bank', 'Wells Fargo Bank'], dtype=object)

In [84]:
bank_tweets.to_csv('Data\\bank_tweets.csv',index=False)